.hh{
    text-align: center;
    padding-top: 10%;
    color: white;
}

body{
    /* background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7)) ,url('./images/back_bg.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.form_container{
    margin: 100px;
    padding-left: 15%;
    padding-right: 15%;
}
        
.message{
    margin: 5px 25%;
    width: 50%;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    background-color: red;
    color: white;
    font-size: 20px;
} 

.messages{
    margin: 5px 25%;
    width: 50%;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    background-color: green;
    color: white;
    font-size: 20px;
} 
  
/* .row_class{
    text-align: center;
} */

.form-group p{
    text-align: center;
}

.form-group a{
    border: 2px solid black;
    border-radius: 20px;
    padding: 2px;
    background-color:cornflowerblue;
}


.disp_name{
    text-align: center;
    color: black;
    font-size: x-large;
    padding-top: 50px;
}

.disp_table{
    /* text-align: center; */
    color: black;
    font-size: medium;
    padding-top: 100px;
    padding-left: 20%;
}

.disp_table table, th, td{
  /* border-color: white; */
  border-collapse: collapse;
  border: 2px solid black; 
  padding: 10px;
}

.disp_table h3{
    padding-bottom: 10px;
}

.reg_form{
    padding-top: 50px;
}

